* {
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	font-size: 15px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1200px;
    width: 100%;
    margin: 0 auto;
	text-align: center;
	padding: 80px 40px;
	border: 1px solid #010101;
	border-radius: 5px;
	background: rgb(180, 169, 169);
}