doctype html
html
    head
        meta(charset="UTF-8")
        title="Hello Pug"
        link(rel='stylesheet' type="text/css" href='../style.css')
    body
        div.container
            p.loging Zaloguj się proszę
            button.btn 
                a.asd(href='/auth/google') zaloguj